body{
    background-color: antiquewhite;
    
}
.titles{
  font-family: EB Garamond;
  font-weight: lighter;
  text-align: center;
}
#More{
    font-family: EB Garamond;
    font-weight: lighter;
}
.links{
    font-family: EB Garamond;
    font-weight:lighter;
}
